*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
a{
    text-decoration: none;
}
h1,h2,h3,p,span{
    margin: 0;
    padding: 0;
}
.navbar{
    text-align: center;
    background-color: #ffffff;
}
.navbar-nav a{
    margin-left: 10px;
    font-weight: 400;
    color: black;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #8db7a4;
}
.hero-main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.over-lay img{
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: aqua;
    object-fit: cover;
    background-position: center;
    /* z-index: -1; */
}

.over-lay-content{
    z-index: 2;
    position: relative;
    top: 0;
    color: #ffffff;
}

.over-lay::before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: #0009; 
    top: 0;
    left: 0;
    z-index: 1;
}
.hero-function{
    padding: 120px 0px 0 0;
}
.hero-function h1{
    color: #f0f0f0;
}
.hero-function h2{
    font-family: "Emilys Candy", serif;
    font-size: 3.4rem;
}
.main-button{
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 34px;
    background-color: transparent;
    border: 2px solid white;
    color: #ffffff;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}
.main-button:hover{
    font-size: 0.9rem;
    transform: scale(1.09);
    background-color: #ffffff;
    color: black;
    border: 2px solid rgb(255, 255, 255);
}
.about-title{
    width: 55%;
}
.about-heading{
    font-family: "Emilys Candy", serif;
    font-size: 1.4rem;
}