*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
a{
    text-decoration: none;
}
h1,h2,h3,p,span{
    margin: 0;
    padding: 0;
}
::selection{
    background-color: #739b89;
    color: black;
}
/* navbar is start in here zayfira  */
.navbar{
    text-align: center;
    background-color: #ffffff;
    /* box-shadow: 1rem 1rem 1rem red; */
}
.navbar-nav a{
    /* margin-left: 10px; */
    font-weight: 400;
    color: black;
    font-size: 0.93rem;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #739b89;
}
.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -65px;
}
.navbar-toggler{
    border: none;
    padding: 3px 6px;
    background-color: #739b8923;
}
.navbar-toggler:focus{
    box-shadow: none;
    border: none;
}
.navbar-brand svg {
    width: 150px;
    height: auto;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-color: #4181513f
}
/* navbar is End in here zayfira  */

/* hero is End in here zayfira  */
.hero-main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.over-lay img{
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    background-position: center;
}
.over-lay-content{
    z-index: 2;
    position: relative;
    top: 0;
    color: #ffffff;
}
.over-lay::before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: #0009; 
    top: 0;
    left: 0;
    z-index: 1;
}
.hero-function{
    padding: 120px 0px 0 0;
}
.hero-function h1{
    color: #ebebeb;
}
.hero-function h2{
    font-family: "Emilys Candy", serif;
    font-size: 3.5rem;
}
.main-button{
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 34px;
    background-color: transparent;
    border: 2px solid white;
    color: #ffffff;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}
.main-button:hover{
    font-size: 0.9rem;
    transform: scale(1.09);
    background-color: #ffffff;
    color: black;
    border: 2px solid rgb(255, 255, 255);
}
@media screen and (max-width:678px) {
        .hero-function{
            padding: 70px 0px 0 0;
        }
        .hero-function h2{
            font-size: 2.5rem;
        }
}

@media screen and (max-width:500px) {
    .hero-function{
        padding: 80px 0px 0 0;
    }
    .hero-function h2{
        font-size: 2.2rem;
    }
    .over-lay img{
        top: 0;
        width: 100%;
        height: 85vh;
        position: absolute;
        object-fit: cover;
        background-position: center;
    }
    .over-lay::before {
        position: absolute;
        content: ' ';
        width: 100%;
        height: 85vh;
        background-color: #0009; 
        top: 0;
        left: 0;
        z-index: 1;
    }
    .hero-main {
        width: 100%;
        height: 85vh;
        position: relative;
    }
}
/* hero is End in here zayfira  */

/* about is start in here zayfira */
.about-title{
    width: 55%;
}
.about-image-text h1{
    color: #9dc5b3;
}
.about-heading{
    font-family: "Emilys Candy", serif;
    font-size: 1.2rem;
}

@media screen and (max-width:678px) {
    .about-title{
        width: 75%;
    }
}
@media screen and (max-width:500px) {
    .about-title{
        width: 95%;
    }
}
/* about is start in End zayfira */

/* about two is Start in here in zayfira  */
.about-two-main{
    /* margin-top: 4rem; */
    width: 100%;
    height: 85vh;
    position: relative;
    background-color: #739b89;
}

    
.about-image-part img{
    margin-top: -2.7rem;
    height: 100vh;
}
.about-text-part h2{
    font-family: "Emilys Candy", serif;
}
@media screen and (max-width:992px) {
    .about-two-main{
        /* margin-top: 4rem; */
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #739b89;
    }
    .about-title{
        width: 75%;
    }
}
@media screen and (max-width:768px) {
    .about-two-main{
        padding: 20px 0 20px 0;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #739b89;
    }
    .about-title{
        width: 75%;
    }
}
@media screen and (max-width:500px) {
    .about-image-part img{
        margin-top: -2.7rem;
        height: 60vh;
    }
}

/* about two is End in here in zayfira  */

 /* gallery section is Start in zayfira   */
.main-gallery{
    padding: 20px 0;
    margin-top: 3rem;
    width: 100%;
}
.gallery-headings{
    margin-top: 2rem;
    text-align: center;
}
.gallery-tag{
    font-size: 1.2rem;
    font-family: "Emilys Candy", serif;
}
.gallery {
    margin-top: 4rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    /* padding: 20px; */
    margin-bottom: 20px;
    text-align: center;
}

 /* gallery section is End in zayfira   */

 /* chose is here in start zayfira  */
.chose{
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.chose-point{
    background-color: #739b89;
    color: #ffffff;
    padding: 6px 8px;
}
.chose-title{
    font-weight: 400;
    font-family: "Emilys Candy", serif;
}
 /* chose is here in End zayfira  */

 /* contact here is start in zayfira  */
.contact-image{
    position: relative;
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner.webp);
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
}
.contact-overlay {
   
    text-align: center; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.contact-overlay span,
.contact-overlay h1,
.contact-overlay p {
    background-color: rgba(0, 0, 0, 0.637);
    color: white; 
    padding: 10px; 
    display: inline-block; 
    margin: 5px 0;
}

.contact-overlay span,
.contact-overlay h1,
.contact-overlay p {
    border-radius: 5px;
}
.contact-overlay{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.contact-me{
    font-size: 0.9rem;
}
.contact-title{
    font-family: "Emilys Candy", serif;
}
.contact-button{
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 34px;
    background-color: rgba(0, 0, 0, 0.685);
    border: 2px solid rgb(255, 255, 255);
    color: #ffffff;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}
.contact-button:hover{
    font-size: 0.9rem;
    transform: scale(1.09);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

 /* contact here is End in zayfira  */

 /* footer here is start in zayfira  */
 .footer{
    margin-top: 3rem;
    color: #ffffff;
    background-color: black;
 }
 .Copyright{
    font-family: "Emilys Candy", serif;
 }
 .footer-links a{
    font-size: 1rem;
 }
 /* footer here is end in zayfira  */

/* +++++++++++++++++++++++++++++++++++++++++++ */

 /* CONTACT PAGE IS START IN HERE IN ZAYFIRA  */
 .contact-img{
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(../images/contact.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.contact-alone h2{
    font-family: "Emilys Candy", serif;
}
.contact-alone{
    text-align: center;
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-img::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: -1;
    content: ' ';
    top: 0;
    left: 0;
 }
.from_tag{
    flex-direction: column;
    display: flex;
}
.from_tag input{
    border-bottom: 0.1rem solid #41815117 !important;
    border: none;
    background-color: transparent;
    padding: 16px 20px;
    border-left: 0.1rem solid #41815117 !important;
    outline: none;
    color: rgba(0, 0, 0, 0.575);
    font-size: 0.94rem;
}
.from_tag textarea{
    background-color: transparent;
    border: none;
    border-left: 0.1rem solid #41815117 !important;
    color: rgba(0, 0, 0, 0.575);
    border-bottom: 0.1rem solid #41815117 !important;
    padding: 16px 20px;
    font-size: 0.94rem;
    outline: none;
    margin-top: 1em;
}
::placeholder{
    color: rgb(0, 0, 0);
}
.from_tag button{
    cursor: pointer;
    font-weight: 400;
    font-size: 1.1rem;
    border: none;
    padding: 20px 20px;
    margin-top: 1em;
    font-family: "Emilys Candy", serif;
    color: white;
    background-color: #418151;
}
.read-Details-policy{
    font-size: 1rem;
    cursor: pointer;
}
@media screen and (max-width:500px) {
    .left-contact p{
        font-size: 2.3rem;
    }
}
.contact-gr-box{
    padding: 12px 16px;
    border-radius: 50%;
    background-image:radial-gradient(circle, #90ee9000, #41815117);
    width: 100%;
}

.contact-gr-box p::first-letter{
    font-size: 2.2rem;
}
.contact-gr-box p{
    font-size: 1.4rem;
    font-family: "Emilys Candy", serif;
}

.my-personal img{
    width: 10rem;
    border-radius: 50%;
}
.personal-box{
    width: 5rem;
    height: 5rem;
}
.personal-box img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
.personal-icon .nav-link{
    font-size: 1.1rem;
}

 /* CONTACT PAGE IS END IN HERE IN ZAYFIRA  */


 /* ABOUT US PAGE IS START IN HERE IN ZAYFIRA  */

 .main-abouts{
    width: 100%;
    background-color: #739b89;
 }
 .main-abouts h4{
    font-family: "Emilys Candy", serif;
    color: white;
 }
 .about-img-setting{
    width: 100%;
    height: 80vh;
 }
 .about-img-setting {
    width: 100%;
    background-image: url(../images/about-us-image.webp);
    /* background-size: cover; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}
 /* ABOUT US PAGE IS END IN HERE IN ZAYFIRA  */

 /* BLOGS PAGE IS START IN HERE IN ZAYFIRA  */

 .blog-card {
    padding: 10px 2px 20px 2px;
    /* border-right: 1px solid #41815142; */
    border-bottom: 1px solid #41815142;
    height: auto;
    display: flex;
    margin: 5px 0 0 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 390px;
  }
  .blog-card img {
    max-width: 100%;
    height: auto;
    /* border-radius: 10px; */
  }
  #blogs-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px 60px;
}

@media screen and (max-width:500px) {
    #blogs-container {
        padding: 10px 40px;
    }
}
.blog-card h4{
    margin-top: 1rem;
}
.blog-card p{
    margin-top: 1rem;
    padding: 4px 4px;
    background-color: #41815110;
    font-size: 0.90rem;
}
.blog-main-button{
    display: inline-block;
    margin-top: 0.8rem;
    padding: 10px 40px;
    background-color: #418151;
    border: 1.4px solid rgb(255, 255, 255);
    color: #ffffff;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}
.blog-main-button:hover{
    font-size: 0.9rem;
    transform: scale(1.02);
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1.4px solid #212121;
}
.main-details{
    background-color: #4d846a0a;
}
.detail-img{
    margin-top: 3rem;
}
.detail-img img{
    width: 100%;
    background-color: #ffffff;
    padding:50px;
}
.blog-details img{
    width: 50%;
}
.main-details-blogs{
    padding: 0 60px;
    background-color: white;
}
.main-details-blogs h2{
    font-family: "Emilys Candy", serif;
}
.content-blogs{
    padding: 20px 15px;
}
.content-blogs p{
    padding: 0.5rem 0.6rem;
}
.content-blogs h4{
    padding: 10px 0 0 0 ;
}

.content-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  @media screen and (max-width:500px) {
    .detail-img img {
        padding: 20px;
    }
  }
  
  .extra-image {
    flex: 1 1 calc(50% - 10px); /* Two columns of equal width */
    margin-bottom: 20px;
  }
  
  .extra-image-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
 /* BLOGS PAGE IS END IN HERE IN ZAYFIRA  */

 .comment-input-NE input{
    border-bottom: 0.1rem solid #41815117 !important;
    border: none;
    width: 49%;
    background-color: white;
    padding: 16px 20px;
    border-left: 0.1rem solid #41815117 !important;
    outline: none;
    color: rgba(0, 0, 0, 0.575);
    font-size: 0.94rem;
 }

#commentForm textarea{
    background-color: white;
    border: none;
    border-left: 0.1rem solid #41815117 !important;
    color: rgba(0, 0, 0, 0.575);
    border-bottom: 0.1rem solid #41815117 !important;
    padding: 16px 20px;
    font-size: 0.94rem;
    outline: none;
    margin-top: 1em;
    width: 100%;
    height: 12rem;
 }
 .comment-session h3{
    font-family: "Emilys Candy", serif;
 }
 .delete-btn{
    font-size: 0.87rem;
    display: block;
    padding: 2px 58px;
    margin-top: 0.7rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1.4px solid #3d644979;
    transition: all 0.3s ease;
 }

 .delete-btn:hover{
    font-size: 0.87rem;
    display: block;
    transform: scale(1.05);
    padding: 2px 62px;
    margin-top: 0.7rem;
    background-color: rgb(226, 2, 2);
    color: rgb(255, 255, 255);
    border: 1.4px solid #7a3636;
 }
 .comment-box{
    padding: 10px 0 10px 0 ;
 }
 .comment small{
    padding: 3px 0 10px 0 ;
    display: inline-block;
 }
 .comment{
    padding: 0px 0 20px 0 ;
 }
 .product {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin: 10px 0;
    border-radius: 5px;
    width: 370px;
    background: #fff;
  }
  .product1 {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin: 10px 0;
    border-radius: 5px;
    width: 370px;
    background: #fff;
  }
  .two-products{
        display: flex;
  }
  @media screen and (max-width:768px) {
    .two-products{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
  }

  @media (max-width: 678px) {
    .footer-links {
      overflow-x: auto;
      justify-content: start;
      display: flex;
      white-space: nowrap;
      flex-wrap: nowrap;
      -webkit-overflow-scrolling: touch;
    }
   
  }
  
  
  /* .product img {
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
  }
   */
  .product-section{
    padding: 0px 0px 25px 0;
  }
  .policy h2,h3{
    font-family: "Emilys Candy", serif;
  }
.terms h2,h3{
    font-family: "Emilys Candy", serif;
  }
.list-font{
    font-weight: 500;
  }
  

  .product-section {
    margin-top: 30px;
    text-align: center;
  }
  
  .product, .product1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .product:hover, .product1:hover {
    transform: scale(1.01);
  }
  
  .product img, .product1 img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
  }
  
  
  
  /* Responsive Fix */
  @media (max-width: 768px) {
    .product, .product1 {
      flex-basis: 90%;
    }
  }
  