*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
a{
    text-decoration: none;
}
h1,h2,h3,p,span{
    margin: 0;
    padding: 0;
}
::selection{
    background-color: #739b89;
    color: black;
}
/* navbar is start in here zayfira  */
.navbar{
    text-align: center;
    background-color: #ffffff;
}
.navbar-nav a{
    margin-left: 10px;
    font-weight: 400;
    color: black;
    font-size: 0.93rem;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #739b89;
}
/* navbar is End in here zayfira  */

/* hero is End in here zayfira  */
.hero-main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.over-lay img{
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    background-position: center;
}
.over-lay-content{
    z-index: 2;
    position: relative;
    top: 0;
    color: #ffffff;
}
.over-lay::before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: #0009; 
    top: 0;
    left: 0;
    z-index: 1;
}
.hero-function{
    padding: 120px 0px 0 0;
}
.hero-function h1{
    color: #319538;
}
.hero-function h2{
    font-family: "Emilys Candy", serif;
    font-size: 3.5rem;
}
.main-button{
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 34px;
    background-color: transparent;
    border: 2px solid white;
    color: #ffffff;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}
.main-button:hover{
    font-size: 0.9rem;
    transform: scale(1.09);
    background-color: #ffffff;
    color: black;
    border: 2px solid rgb(255, 255, 255);
}
/* hero is End in here zayfira  */

/* about is start in here zayfira */
.about-title{
    width: 55%;
}
.about-heading{
    font-family: "Emilys Candy", serif;
    font-size: 1.2rem;
}
/* about is start in End zayfira */

/* about two is Start in here in zayfira  */
.about-two-main{
    /* margin-top: 4rem; */
    width: 100%;
    height: 85vh;
    position: relative;
    background-color: #739b89;
}
.about-image-part img{
    margin-top: -2.7rem;
    height: 100vh;
}
.about-text-part h2{
    font-family: "Emilys Candy", serif;
}
/* about two is End in here in zayfira  */

 /* gallery section is Start in zayfira   */
.main-gallery{
    padding: 20px 0;
    margin-top: 7rem;
    width: 100%;
}
.gallery-headings{
    margin-top: 2rem;
    text-align: center;
}
.gallery-tag{
    font-size: 1.2rem;
    font-family: "Emilys Candy", serif;
}
.gallery {
    margin-top: 4rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    /* padding: 20px; */
    margin-bottom: 20px;
    text-align: center;
}

 /* gallery section is End in zayfira   */

 /* chose is here in start zayfira  */
.chose{
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.chose-point{
    background-color: #739b89;
    color: #ffffff;
    padding: 6px 8px;
}
.chose-title{
    font-weight: 400;
    font-family: "Emilys Candy", serif;
}
 /* chose is here in End zayfira  */

 /* contact here is start in zayfira  */
.contact-image{
    position: relative;
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
}
.contact-overlay {
   
    text-align: center; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.contact-overlay span,
.contact-overlay h1,
.contact-overlay p {
    background-color: rgba(0, 0, 0, 0.637);
    color: white; 
    padding: 10px; 
    display: inline-block; 
    margin: 5px 0;
}

.contact-overlay span,
.contact-overlay h1,
.contact-overlay p {
    border-radius: 5px;
}
.contact-overlay{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.contact-me{
    font-size: 0.9rem;
}
.contact-title{
    font-family: "Emilys Candy", serif;
}
.contact-button{
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 34px;
    background-color: rgba(0, 0, 0, 0.685);
    border: 2px solid rgb(255, 255, 255);
    color: #ffffff;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}
.contact-button:hover{
    font-size: 0.9rem;
    transform: scale(1.09);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

 /* contact here is End in zayfira  */

 /* footer here is start in zayfira  */
 .footer{
    margin-top: 3rem;
    color: #ffffff;
    background-color: black;
 }
 .Copyright{
    font-family: "Emilys Candy", serif;
 }
 .footer-links a{
    font-size: 1rem;
 }
 /* footer here is end in zayfira  */

/* +++++++++++++++++++++++++++++++++++++++++++ */

 /* CONTACT PAGE IS START IN HERE IN ZAYFIRA  */
 .contact-img{
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(../images/contact.jpg);
    background-attachment: fixed;
    z-index: 1;
}
.contact-alone h2{
    font-family: "Emilys Candy", serif;
}
.contact-alone{
    text-align: center;
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-img::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: -1;
    content: ' ';
    top: 0;
    left: 0;
 }
.from_tag{
    flex-direction: column;
    display: flex;
}
.from_tag input{
    border-bottom: 0.1rem solid #3d794c57 !important;
    border: none;
    background-color: transparent;
    padding: 16px 20px;
    border-left: 0.1rem solid #3d794c57 !important;
    outline: none;
    color: rgba(0, 0, 0, 0.575);
    font-size: 0.94rem;
}
.from_tag textarea{
    background-color: transparent;
    border: none;
    border-left: 0.1rem solid #3d794c57 !important;
    color: rgba(0, 0, 0, 0.575);
    border-bottom: 0.1rem solid #3d794c57 !important;
    padding: 16px 20px;
    font-size: 0.94rem;
    outline: none;
    margin-top: 1em;
}
::placeholder{
    color: rgb(0, 0, 0);
}
.from_tag button{
    cursor: pointer;
    font-weight: 400;
    font-size: 1.1rem;
    border: none;
    padding: 20px 20px;
    margin-top: 1em;
    font-family: "Emilys Candy", serif;
    color: white;
    background-color: #418151;
}
.read-Details-policy{
    font-size: 1rem;
    cursor: pointer;
}
@media screen and (max-width:500px) {
    .left-contact p{
        font-size: 2.3rem;
    }
}
.contact-gr-box{
    padding: 12px 16px;
    border-radius: 50%;
    background-image:radial-gradient(circle, #90ee9000, #41815117);
    width: 100%;
}

.contact-gr-box p::first-letter{
    font-size: 2.2rem;
}
.contact-gr-box p{
    font-size: 1.4rem;
    font-family: "Emilys Candy", serif;
}

.my-personal img{
    width: 10rem;
    border-radius: 50%;
}
.personal-box{
    width: 5rem;
    height: 5rem;
}
.personal-box img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
.personal-icon .nav-link{
    font-size: 1.1rem;
}

 /* CONTACT PAGE IS END IN HERE IN ZAYFIRA  */


 /* ABOUT US PAGE IS START IN HERE IN ZAYFIRA  */

 .main-abouts{
    width: 100%;
    background-color: #739b89;
 }
 .main-abouts h4{
    font-family: "Emilys Candy", serif;
 }
 .about-img-setting{
    width: 100%;
    height: 80vh;
 }
 .about-img-setting {
    width: 100%;
    background-image: url(../images/about1.jpg);
    /* background-size: cover; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}
 /* ABOUT US PAGE IS END IN HERE IN ZAYFIRA  */